@model IEnumerable<Webshop.Models.ShoppingCartItem>

@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

<p>
    <a href="/Home">Vrati se nazad</a>
</p>

<table border="1">
    @foreach (var item in ViewBag.sc.list)
    {
        <tr><td>@item.Proizvod.Naziv</td></tr>
        <tr><td>@item.Proizvod.Cena</td></tr>

        <tr><td>@item.Kolicina</td></tr>

    }
    <p>Ukupno:@ViewBag.sc.Total </p>

</table>
@Html.ActionLink("Zavrsi", "Zavrsi", "ShoppingCart")