
@{
    ViewBag.Title = "Index";
}


@{
    ViewBag.Title = "Index";
}

<h2>Upload files</h2>

@using (Html.BeginForm("Upload", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" multiple="multiple" />
    <input type="submit" name="Submit" id="Submit" value="Upload" />
}

<h3>Uploadovani fajlovi</h3>
<table border="1">
    <tr bgcolor="lightgrey">
        <th>Ime</th>
        <th>Lokalna putanja</th>
        <th>Slika</th>
    </tr>
    @foreach (var file in ViewBag.uploadedFiles)
    {
        <tr>
            <td>
                @file.name
            </td>
            <td>
                @file.localPath
            </td>
            <td>
                <img src="~/Images/@file.name" height="50" width="50" />
            </td>
        </tr>
    }
</table>
<p>[<a href="~/Home"> Nazad </a>]</p>


